<h3>Project Name: <%= @project.title %></h3>

<p>Project Volunteers:</p>

<% if @project.volunteers %>
<ul>
  <% @project.volunteers.each do |volunteer| %>
  <li><a href="/projects/<%= @project.id %>/volunteers/<%= volunteer.id %>"><%= volunteer.title %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no volunteers listed for this project yet.</p>
<% end %>

<h4>Add a volunteer:</h4>

<form action="/projects/<%= @project.id %>/volunteers" method="post">
  <div class="form-group">
    <label for="title">Volunteer title</label>
    <input id="n" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add volunteer</button>
</form>


<p><a href="/projects/<%= @project.id %>/edit">Edit project</a></p>
<a href="/projects">Return to project list</a>
